.dotfiles
.api_keys
logs/
Documents/
Downloads/
dev/
bin/
acpi/
go/
.dotnet/
.elm/
.viminfo
.gnupg/
.local/
.zen/
.bash_history
.cache/
.cargo/
.mozilla/
.pki/
.xsession-errors*
.config/pulse/
.config/rizin/
.config/node_modules/
.config/package.json
.config/package-lock.json
.BEID_0.log
distel*
worknotes.txt
study/
strap.sh
scripts/dotnet-install.sh
recording.xml
pkglist.txt
jmeter.log
debug-rendered-output.txt
debug-raw-markdown.txt
debug-aith.txt
hackthebox/
menyoki/
sources/
jtest/
.rediscli_history
.leetcode/
.lc/
.java/
.idapro/
.gk/
.gemini/
.degit/
.config/nomacs/Image\ Lounge.conf
View\ Results\ Tree.jmx
scripts/update_system.sh
.profile

hang_log.txt*
passwords
.dmrc
.lesshst
Code/
.Xauthority
.Xresources
.config/.bombadillo.ini
.config/Raindrop.io/
.config/Thunar/
.config/chromium/
.config/dconf/
.config/fastfetch/
.config/gh/
.config/github-copilot/
.config/gopass/
.config/gtk-3.0/
.config/htop/
.config/mimeapps.list
.config/obsidian/
.config/onlyoffice/
.config/polybar/
.config/systemd/
.config/warp/
.config/xfce4/
.config/yadm/
/.nuget
/Renoise
/aith_histories
/asciinema
/books
/clean-code-study-guide
/doom
gitignore
.gtkrc-2.0
.icons/
.vim/
.xinitrc
7884322c-42e8-4aaf-bae4-e8d3dcf49253.png
gandalf-computer-wizzard.jpg
penrose-sky-wp.png
vimbegood.lua

.config/QtProject.conf
.config/flameshot/
2025-03-13_10-59.png
.config/filezilla/
.config/scummvm/
.npm/
.python_history
.config/nomacs/
".config/nomacs/Image Lounge.conf"
.config/nomacs/Image\ Lounge.conf
.vscode-insiders/
.config/Code\ -\ Insiders/
.config/ai
scripts/ai-test.sh
scripts/ai.sh

Screenshot_archlinux_2025-07-12_15:12:27.png
Screenshot_archlinux_2025-07-12_15:15:56.png
Screenshot_archlinux_2025-07-12_16:05:16.png
Screenshot_archlinux_2025-07-12_16:06:12.png
Screenshot_archlinux_2025-07-12_16:15:36.png
Screenshot_archlinux_2025-07-12_16:22:19.png
Screenshot_archlinux_2025-07-12_16:24:54.png
Untitled.mov
arch-vm-install-guide.md
feh_788636_000001_2025-03-13_10-59.png
output.mp4
play_around/
qr.png
test-mic.wav
testje-sine.xrns
vmshare
.wget-hsts
.wdm
.vscode*
.vcpkg
.tunnelto
.templateengine
.ssh
.rustup
.pub-cache
.psql_history
.nuxtrc
.node_repl_history
.googleearth
.gait
.flutter
.fltk
.fehbg
.dart-tool
.config/vlc
thefuck
.config/spotify
.config/qBittorrent
.MaxAutoClicker
.angular-config.json
.aspnet
.config/.avalonia*
.config/Gimp
.config/Google
.config/Renoise
.config/aith
.config/atac
.config/brutal-doom
.config/GIMP
.config/configstore
.config/create-next-app-nodejs
.config/flutter
.config/fvm
.config/glow
.config/github-prompts
.config/goose
.config/gzdoom
.config/io.datasette.llm
.config/lexy
.config/netlify
.config/nextjs-nodejs
.config/ngrok
.config/pitivi

