.dotfiles
.api_keys
logs/
Documents/
Downloads/
dev/
sources/
bin/
acpi/
go/
.dotnet/
.elm/
.viminfo
.vscode/
.gnupg/
.local/
.zen/
.bash_history
.cache/
.cargo/
.mozilla/
.pki/
.xsession-errors*

hang_log.txt*
passwords
.dmrc
.lesshst
Code/
.Xauthority
.Xresources
.config/.bombadillo.ini
.config/Raindrop.io/
.config/Thunar/
.config/chromium/
.config/dconf/
.config/fastfetch/
.config/gh/
.config/github-copilot/
.config/gopass/
.config/gtk-3.0/
.config/htop/
.config/mimeapps.list
.config/obsidian/
.config/onlyoffice/
.config/polybar/
.config/systemd/
.config/warp/
.config/xfce4/
.config/yadm/
gitignore
.gtkrc-2.0
.icons/
.vim/
.xinitrc
7884322c-42e8-4aaf-bae4-e8d3dcf49253.png
gandalf-computer-wizzard.jpg
penrose-sky-wp.png
vimbegood.lua

.config/QtProject.conf
.config/flameshot/
2025-03-13_10-59.png
.config/filezilla/
.config/scummvm/
.npm/
.python_history
.config/nomacs/
".config/nomacs/Image Lounge.conf"
.config/nomacs/Image\ Lounge.conf
.vscode-insiders/
.config/Code\ -\ Insiders/
.config/ai
scripts/ai-test.sh
scripts/ai.sh

